body {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

h1 {
    display: flex;
    justify-content: center;
}

.display{
    border: 4px solid gray;
    text-align: center;
    font-size: 21px;
}
.buttons {
    display: flex;
    gap: 10px;
}

.operators {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px; 
}

.numpad {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;

}
.numpad-row {
    display: flex;
    gap: 10px;
}

.button {
    padding: 25px;
    border: 4px solid gray; 
    font-size: 21px;
    width: 100px;
    height: auto;
}

.eval-div {
    display: flex;
}
